@import "@fontsource/cormorant-garamond/cyrillic-300.css";
@import "@fontsource/cormorant-garamond/cyrillic-400.css";
@import "@fontsource/cormorant-garamond/cyrillic-500.css";
@import "@fontsource/cormorant-garamond/cyrillic-600.css";
@import "@fontsource/cormorant-garamond/cyrillic-700.css";
@import "@fontsource/cormorant-garamond/cyrillic-400-italic.css";
@import "@fontsource/cormorant-garamond/cyrillic-500-italic.css";
@import "@fontsource/manrope/cyrillic-300.css";
@import "@fontsource/manrope/cyrillic-400.css";
@import "@fontsource/manrope/cyrillic-500.css";
@import "@fontsource/manrope/cyrillic-700.css";
@import "./custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
